.button {
	-fx-background-color: linear-gradient(#4A2D0C, #AB681B) ;
	-fx-min-width: 200px ;
	-fx-font: 18 "Calisto MT" ;
	-fx-text-fill: rgb(245,209,7) ;
}

.button:hover {
	-fx-background-color: linear-gradient(#4A2D0C, #AB681B) ;
	-fx-min-width: 200px ;
	-fx-font: 18 "Calisto MT" ;
	-fx-text-fill: rgb(245,209,7) ;
	-fx-effect: innershadow(one-pass-box, black, 10, 0, 5, 5) ;
}

.label .text {
	-fx-stroke: black ;
	-fx-stroke-width: 0.5px ;
}

#summary {
	-fx-text-fill: wheat ;
	-fx-font: bolder 22 "Calisto MT" ;
	-fx-min-width: 650px ;
	-fx-max-width: 650px ;
}

#current-player {
	-fx-text-fill: wheat ;
	-fx-font: bolder 40 "Calisto MT" ;
}

.root {
	-fx-background-image: url("Paarthurnax-vs-Alduin.jpg") ;
}