.root {
	-fx-background-image: url("dark-background.jpg") ;
	-fx-background-position: center ;
}

#top-text {
	-fx-font: bolder 22 "Calisto MT" ;
	-fx-fill: white ;
	-fx-stroke: darkgrey ;
	-fx-stroke-width: 0.5px ;
}

#title-text {
	-fx-font: bolder 45 "Castellar" ;
	-fx-fill: linear-gradient(#A80000, #DE6400) ;
	-fx-stroke: linear-gradient(#A80000, #DE6400) ;
	-fx-stroke-width: 0.5px;
}

#type-list-text {
	-fx-font: bold 26 "Calisto MT" ;
	-fx-fill: rgb(244,244,0) ;
	-fx-stroke: orange ;
	-fx-stroke-width: 0.5px ;
}

#bottom-text {
	-fx-font: bolder 22 "Calisto MT" ;
	-fx-fill: orange ;
	-fx-stroke: darkred ;
	-fx-stroke-width: 0.5px ;
}