.root {
	-fx-background-image: url("stone-background.jpg") ;
	-fx-background-position: center ;
	-fx-background-repeat: no-repeat ;
}

.button {
	-fx-font: 16 "Calisto MT" ;
	-fx-text-fill: rgb(128,0,0) ;
	-fx-min-width: 100px ;
	-fx-background-color: linear-gradient(#292929, #FFFFFF) ;
}

.button:hover {
	-fx-font: 16 "Calisto MT" ;
	-fx-text-fill: rgb(128,0,0) ;
	-fx-min-width: 100px ;
	-fx-background-color: linear-gradient(#292929, #FFFFFF) ;
	-fx-effect: innershadow(one-pass-box, black, 10, 0, 5, 5) ;
}

.label .text {
	-fx-font: bold 20 "Castellar";
	-fx-stroke: rgb(255,255,255) ;
	-fx-stroke-width: 1px ;
	-fx-fill: rgb(30,30,30) ;
	-fx-effect: dropshadow( gaussian , rgba(100,100,100,0.5) , 0,0,0,1 ) ;
}

.choice-box {
	-fx-min-width: 150px ;
}

.choice-box .label .text {
	-fx-font: bold 20 "Calisto MT" ;
	-fx-stroke-width: 0px ;
	-fx-fill: rgb(30,30,30) ;
	-fx-effect: dropshadow( gaussian , rgba(100,100,100,0.5) , 0,0,0,1 ) ;
}

#text-title {
	-fx-font: bolder 40 "Castellar" ;
	-fx-stroke: rgb(255,255,255) ;
	-fx-stroke-width: 1px ;
	-fx-fill: rgb(30,30,30) ;
	-fx-effect: dropshadow( gaussian , rgba(100,100,100,0.5) , 0,0,0,1 ) ;
}