.root {
	-fx-background-image: url("dark-background.jpg") ;
	-fx-background-position: center ;
}

#result {
	-fx-font: bolder 40 "Castellar" ;
	-fx-fill: linear-gradient(#A80000, #DE6400) ;
	-fx-stroke: linear-gradient(#A80000, #DE6400) ;
}

.button {
	-fx-font: 16 "Calisto MT" ;
	-fx-text-fill: rgb(128,0,0) ;
	-fx-min-width: 100px ;
	-fx-background-color: linear-gradient(#292929, #FFFFFF) ;
}

.button:hover {
	-fx-font: 16 "Calisto MT" ;
	-fx-text-fill: rgb(128,0,0) ;
	-fx-min-width: 100px ;
	-fx-background-color: linear-gradient(#292929, #FFFFFF) ;
	-fx-effect: innershadow(one-pass-box, black, 10, 0, 5, 5) ;
}